Olivier Mengué <olivier.mengue+github@channeladvisor.com> <olivier.mengue@channeladvisor.com>
Olivier Mengué <olivier.mengue+github@channeladvisor.com> <olivier@blueboard.io>
Simon Ganon <simon.ganon@channeladvisor.com> <simon@blueboard.io>
Simon Ganon <simon.ganon@channeladvisor.com> <sganon@student.42.fr>
